// Place all the styles related to the search controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  background-color: $base-gray;
}

.container-fluid.wrapper {
  padding: 0;
}

.wrapper {
  height: 100%;
  width: 100%;
  display: table;
}

li {
  list-style-type: none;
}

.row {
  vertical-align: baseline;
}

.hidden {
  display: none;
}

.filter-menu {
  a {
    text-decoration: none;
    color: #000;
  }

  li {
    cursor: pointer;
  }

  .active {
    color: $base-cyan;
  }
}

#result-container {
  li {
    float: left;
    width: 100%;
    background-color: rgba($base-white, 1);
    margin: 10px 0;
    box-shadow: 1px 1px 5px #afafaf;

    img.tn, div.placeholder {
      cursor: pointer;
      height: 120px;
      margin-right: 20px;
      float: left;
    }

    span {
      float: left;
      width: 400px;
      overflow-y: hidden;
      margin-top: 10px;
    }

    .add-button {
      margin: 10px;
      cursor: pointer;
      width: 32px;
      float: right;
    }
  }
}

.playlist-popup {
  width: 400px;
  height: auto;
  position: fixed;
  box-shadow: 1px 1px 5px $dark-gray;
  margin: 100px 0 0 500px;
  z-index: $index-playlist-popup;
  background-color: $base-white;
  padding: 10px;

  p {
    li {
      cursor: pointer;
    }
    
    span {
      cursor: pointer;
    }
  }
}
