// Place all the styles related to the search controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  background-color: #d2d2d2;
}

.container-fluid.wrapper {
  padding: 0px;
}


.wrapper {
  height: 100%;
  width: 100%;
  display: table;
}

li {
  list-style-type: none;
}

.row {
  vertical-align: baseline;
}


.hidden {
  display: none;
}


.filter-menu {

  li {
    cursor: pointer;
  }

  .active {
    color: #129b9b;
  }

  #Yt, #Sc {
  margin-left: 20px;
  }

}

#result-container {
  li {
    float: left;
    width: 100%;
    background-color: rgba($base-white, 1);
    margin: 10px 0px;
    box-shadow: 1px 1px 5px #afafaf;

    img.tn, div.placeholder {
      cursor: pointer;
      height: 120px;
      margin-right: 20px;
      float: left;
    }

    span {
      float: left;
      width: 400px;
      overflow-y: hidden;
      margin-top: 20px;
    }

    .add-button {
      margin: 10px;
      cursor: pointer;
      width: 32px;
      float: right;
    }
  }
}

.playlist-popup {
  width: 400px;
  height: auto;
  position: fixed;
  box-shadow: 1px 1px 5px #afafaf;
  margin: 100px 0px 0px 500px;
  z-index: 5;
  background-color: $base-white;
  padding: 10px;

  p {
    li {
      cursor: pointer;
    }
    
    span {
      cursor: pointer;
    }
  }
}
