// Colors
$base-white: #ffffff;
$base-gray: #dadada;
$dark-gray: #a9a9a9;
$base-cyan: #188B89;
$base-black: #000000;


// Z-Indexes
$index-user-container: 0;
$index-user-menu: 10;
$index-playlist-popup: 20;
$index-profile-header: 30;
