<%= form_tag('/search', method: 'get') do |f| %>
    <div class="input-container">
      <div class="field">
        <div class="inner right">
          <i class="glyphicon glyphicon-search"></i>
          <input type="text" class="search-field form-control" placeholder="search..."> <!--TODO: Replace with Rails Code-->
        </div>
      </div>
    </div>
<% end %>
