<div class="container-fluid new">
  <div class="row">
    <div class="registration-container col-xs-12 col-sm-6 col-md-4 col-lg-4 center-block">
      <h1>Registration</h1>
      <%= render 'form' %>
    </div>
  </div>
</div>
