<h1>Playlist</h1>

<%= link_to 'Run Playlist', songs_path(:playlist => 1, :startposition => 1, :singletrack => false) , :target => '_blank' %>
<br>
<%= link_to 'Run Song', songs_path(:songurl => 'HtcWvsiQkZE', :songhost => 'youtube', :singletrack => true), :target => '_blank' %>

<!--TODO: Replace with real playlist and song data links-->