<div class="container-fluid player">
  <div class="row col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div id="yt-widget" style="display: none"></div>
    <iframe id="sc-widget" width="640" height="390" scrolling="no" frameborder="no" style="display: none" src="https://w.soundcloud.com/player/?url=http%3A%2F%2Fapi.soundcloud.com%2Ftracks%2F1848538&show_artwork=false"></iframe>
  </div>
</div>
