<div class="container-fluid player">
  <div class="row center-vertical">
    <div class="row col-xs-12 col-sm-12 col-md-12 col-lg-12 center-block players">
      <div id="yt-widget" style="display: none"></div>
      <iframe id="sc-widget" width="640" height="390" scrolling="no" frameborder="no" style="display: none" src="https://w.soundcloud.com/player/?url=http%3A%2F%2Fapi.soundcloud.com%2Ftracks%2F1848538&show_artwork=false"></iframe>
    </div>
    <div class="row controls">
      <div class="controls-container col-xs-4 col-sm-3 col-md-2 col-lg-2 center-block">
        <div id="prev-song" class="prev-song col-xs-3 col-sm-3 col-md-3 col-lg-3"></div>
        <div id="toggle-song" class="pause-song col-xs-3 col-sm-3 col-md-3  col-lg-3"></div>
        <div id="next-song" class="next-song col-xs-3 col-sm-3 col-md-3  col-lg-3"></div>
      </div>
    </div>
  </div>
</div>
