<%= if true
  users_filtered
end %>

<% if users_filtered.present? %>
  <ul>
    <% users_filtered.each do |key, value| %>
      <!--<li><%= link_to "test", "test" %></li>-->
      <li><%= puts value %></li>
    <% end %>
  </ul>
<% else %>
  <p>No Users found...</p>
<% end %>


  <% for item in users_filtered %>
    <%= item[:name] %>
  <% end %>
  
