

<% if users_filtered.present? %>
  <ul>
    <% users_filtered.each do |user| %>
        <% user.each_pair do |key, value| %>
            <p><%= key %>: <%= value %></p><br>
        <% end %>
    <% end %>
  </ul>
<% else %>

<% end %>

  <% for item in users_filtered %>
    <%= item[:name] %>
  <% end %>
  
