<div class="container-fluid imprint">
    <div class="imprint-container col-xs-12 col-sm-8 col-md-8 col-lg-6 center-block">
      <p class="text-center moosic">moosic</p>
      <div class="container-fluid">
        <div class="row">
          <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <img id="fh" src="/assets/logo-fh.png" class="img-responsive" title="Fachhochschule Salzburg" alt="FH-Salzburg">
          </div>
          <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <img src="/assets/logo-mmt.png" class="img-responsive" title="MultiMediaTechnology" alt="MultiMediaTechnology">
          </div>
        </div>
      </div>
      <p class="text-center mmp">multimedia project 2a by</p>
      <div class="container-fluid info">
        <div class="row col-md-12 col-lg-12">
          <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <p class="text-center">Michael Andorfer</p>
            <p class="text-center">mandorfer.mmt-b2014@fh-salzburg.ac.at</p>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <p class="text-center">Bernhard Steger</p>
            <p class="text-center">bsteger.mmt-b2013@fh-salzburg.ac.at</p>
          </div>
        </div>
      </div>
    </div>
</div>
