<script src="https://apis.google.com/js/client.js?onload=onClientLoad" type="text/javascript"></script>
<div class="container-fluid wrapper">
  <div class="row">
    <div class="filter-menu col-md-4 col-lg-3">
      <ul class="list-unstyled">
        <li class="active">Tracks</li>
          <li id="Yt" class="active">Youtube</li>
          <li id="Sc">Soundcloud</li>
        <li>Playlists</li>
        <li>Users</li>
      </ul>
      <form onsubmit="searchByKeyword();return false;">
        <input type="text" id="searchInput">
      </form>
    </div>
    <div class="playlist-popup">
      <%= render 'playlists' %>
    </div>
    <div id="result-container" class="col-md-8 col-lg-6">
    </div>
  </div>
</div>